* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a:visited {
    color: inherit;
}

h1 {
    font-size: 26px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 16px;
}

body {
    background: #F9FAFE;
}

.container {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    padding: 25px 0;
    box-shadow: 0 0 15px 10px #e9ebf2;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.navbar>ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.navbar a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.nav-btn {
    position: relative;
    padding: 10px;
}

.nav-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    background: #004a9e;
    height: 2px;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.nav-btn:hover::after {
    transform: scale(1, 1);
}

.actions {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

table .edit-btn {
    margin: 0 auto;
}

.edit-btn, .delete-btn, .add-btn, .submit-btn {
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 15px;
    text-align: center;
    width: fit-content;
}

.edit-btn, .add-btn {
    background-color: #0095ff;
}

.edit-btn>a {
    color: #fff;
    text-decoration: none;
}

.edit-btn:hover,
.edit-btn:focus,
.add-btn:hover,
.add-btn:focus{
    background-color: #07c;
}

.edit-btn:focus,
.add-btn:focus{
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.edit-btn:active {
    background-color: #0064bd;
    box-shadow: none;
}

.add-btn>a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.delete-btn {
    background-color: #af061e;
    color: #fff;
    font-size: 16px;
}

.delete-btn:hover,
.delete-btn:focus {
    background-color: #9e0017;
}

.submit-btn {
    font-size: 18px;
}

.dropdown-menu {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

ul.pagination li {
    list-style-type: none;
}

ul.pagination li.active {
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
}

.data-table {
    box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    margin: 20px auto;
}

table {
    width: 100%;
    /*max-width: 80%;*/
    margin: 0 auto 20px;
    /*border: 1px solid #dddddd;*/
    border-collapse: collapse;
}

table th {
    font-weight: bold;
    /*padding: 5px;*/
    /*background: #efefef;/*/
    color: #fa4251;
    padding: 18px 10px;
    /*padding-bottom: 18px;*/
    /*border: 1px solid #dddddd;*/
}

table td {
    /*border: 1px solid #dddddd;*/
    padding: 5px;
}

table tr {
    border-bottom: 1px solid #f2f2f2;
}

tr>td:not(:nth-child(2)) {
    text-align: center;
}

tr>td:first-child {
    width: 50px;
}

tr>td:nth-last-child(-n+2) {
    width: 100px;
}

.form {
    width: 500px;
    display: flex;
    gap: 5px;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    padding: 40px;
}

h1.form-name {
    margin-bottom: 20px;
}

.form label {
    font-weight: 600;
    font-size: 18px;
}

.form_input-text,
.form_input-textarea,
.form_input-option {
    width: 100%;
    padding: 8px 15px;;
    font-size: 18px;
    margin-bottom: 15px;
}


.form .form_input-text {
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form .form_input-textarea {
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form .form_input-option {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.form .submit-btn {
    margin: 0 auto;
    width: 100px;
}

.previous-page {
    margin-bottom: 15px;
}

